html{
    margin:0;
    padding:0;
}

.anim {
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    animation: anima 3s ease-out ;
    background-color: black;
    z-index: 999;
   
}

.up{
    font-weight: bold;
}
.down{
    
    font-size: 0.8em;
}

@keyframes anima {
    0%{
        
        visibility: visible;
       font-size: 60%;
    }
    25%{
        font-size: 80%;
    }
    50%{
        font-size: 100%;
    }
    75%{
        font-size: 120%;
        
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        
        font-size: 140%;
      
    }
}



.anim .up{
position: absolute;
top: 47%;
left: 50%;
transform: translate(-50%,-50%);
margin:0;
padding:0;
    list-style: none;

    display: flex;


}

.anim .down{
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
        list-style: none;
    
        display: flex;
    
    
    }





.anim ul li{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 5em;
    letter-spacing: 15px;
    color: #484848;
    animation: txtanim 1s 10 linear;
}



@keyframes txtanim {

    0%{
        color: #484848;
        text-shadow: none;
    }
    18%{
        color: #484848;
        text-shadow: none;
    }
    20%{
        color: #00d9ff;
        text-shadow: 0 0 7px #00d9ff , 0 0 20px #002fff;
    }
    30%{
        color: #484848;
        text-shadow: none;
    }
    35%{
        color: #00d9ff;
        text-shadow: 0 0 7px #00d9ff , 0 0 20px #002fff;
    }
    70%{
        color: #484848;
        text-shadow: none;
    }
    85%{
        color: #00d9ff;
        text-shadow: 0 0 7px #00d9ff , 0 0 20px #002fff;
    }
    90%{
        color: #484848;
        text-shadow: none;
    }
    100%{
        color: #484848;
        text-shadow: none;
    }
    



}

.anim ul li:nth-child(1){

    animation-delay: .2s;
}

.anim ul li:nth-child(2){
    
    animation-delay: .4s;
}

.anim ul li:nth-child(3){
    
    animation-delay: .6s;
}

.anim ul li:nth-child(4){
    
    animation-delay: .8s;
}

.anim ul li:nth-child(5){
    
    animation-delay: 1s;
}

.anim ul li:nth-child(6){
    
    animation-delay: 1.2s;
}
.anim ul li:nth-child(7){
    
    animation-delay: 1.4s;
}

.anim ul li:nth-child(8){
    
    animation-delay: 1.6s;
}

.anim ul li:nth-child(9){
    
    animation-delay: 1.8s;
}

.anim ul li:nth-child(10){
    
    animation-delay: 2s;
}

.anim ul li:nth-child(11){

    animation-delay: 2.2s;
}

.anim ul li:nth-child(12){
    
    animation-delay: 2.4s;
}

.anim ul li:nth-child(13){
    
    animation-delay: 2.6s;
}

.anim ul li:nth-child(14){
    
    animation-delay: 2.8s;
}

.anim ul li:nth-child(15){
    
    animation-delay: 3s;
}

.anim ul li:nth-child(16){
    
    animation-delay: 3.2s;
}
.anim ul li:nth-child(17){
    
    animation-delay: 3.4s;
}

.anim ul li:nth-child(18){
    
    animation-delay: 3.6s;
}

.anim ul li:nth-child(19){
    
    animation-delay: 3.8s;
}

.anim ul li:nth-child(20){
    
    animation-delay: 4.2s;
}
.anim ul li:nth-child(21){
    
    animation-delay: 4.4s;
}


@media screen and (max-width: 780px) {

    .anim ul li{

        
        font-size: 1.5em;
        letter-spacing: 10px;
        
    }

    .anim .up{
        position: absolute;
        top: 48%;

    }

  
    .down{
        
        font-size: 0.8em;
    }
}





.wlc-logo2{

  
    top:22%;
    left: 66.5%;
   
    z-index: 9998;
    animation: rotation 7s infinite linear reverse;
    
}

.wlc-logo3{

    top:8%;
    left: 59%;
    
    z-index:9997;
    
    animation: rotationrev 15s infinite linear;
   
}

.wlc-logo4{

 
    top:0%;
    left: 55%;
    
    z-index: 9996;
    animation: rotation 10s infinite linear;
   
}

@keyframes rotation {
    from {
           transform: rotate(0deg);
    }
    to {
          transform: rotate(360deg);
    }
}

@keyframes rotationrev {
    from {
           transform: rotate(360deg);
    }
    to {
          transform: rotate(0deg);
    }
}





@media(max-width:768px){
    .wlc-logo{
        top:-35%;
        left: 50%;
        width: 60%;
    }
}

    
.outer-nav a{
   
    text-decoration: none;
    transform-style: preserve-3d;
    transform: translateX(350px) translateZ(-1000px);
    font-size: 52px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    transition: transform .2s, opacity .2s;


}


@media (max-width: 768px){
    .outer-nav a{
        font-size: 34px;
    }
}

@media (max-width: 600px){
    .outer-nav a{
        font-size: 26px;
    }
}

@media (min-width:700px) and (max-width: 900px){
    .wlc-logo2{

        width: 50%;
        top:22%;
        left: 66.5%;
       
        z-index: 9998;
        animation: rotation 7s infinite linear reverse;
        
    }
    .wlc-logo3{

        width: 50%;
        top:22%;
        left: 66.5%;
       
        z-index: 9998;
        animation: rotation 7s infinite linear reverse;
        
    }
    .wlc-logo4{

        width: 50%;
        top:22%;
        left: 66.5%;
       
        z-index: 9998;
        animation: rotation 7s infinite linear reverse;
        
    }
}

.game h2{
    z-index:1 ;
}
.game h3{
    z-index:99;
    position: absolute;
    top:38%;
    left: 48%;
}
.game .span1{
   
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index:98;
    position: absolute;
    top:39%;
    left: 47.5%;
animation: button1 1s infinite  ;
opacity: 0;

}
.game .span2{
    
    width: 70px;
    height: 70px;
    border-radius: 50%;
    z-index:97;
    position: absolute;
    top: 37.6%;
    left: 46.4%;
animation: button1 1.2s infinite  ;
opacity: 0;
}
.game .span3{
    
    width: 90px;
    height: 90px;
    border-radius: 50%;
    z-index:96;
    position: absolute;
    top:36%;
    left: 45.3%;
animation: button1 1.4s infinite  ;
opacity: 0;
}

.game a{
    text-decoration: none;
    color: #fff;
}
.game a:visited{
    text-decoration: none;
    color: #fff;
}

@keyframes button1{
    from
    {

opacity: 0;
box-shadow: 0 0 0 20px #0f33ff, 0 0 0 40px #0f33ff, 0 0 0 60px #0f33ff, 0 0 0 80px #0f33ff;

    }to{
        opacity: 1;
    }
}



.game img{
   border-radius: 20px;
    height: 100vh;
    transform: rotate(90deg);
    z-index: -99;
}

@media (max-width:786px){
    .game .span1{
       
        top:39%;
        left: 46.9%;
    
    }
    .game .span2{
       
        top: 37.6%;
        left: 44.6%;
   
    }
    .game .span3{
       
        top:35.8%;
        left: 42.2%;
    
    }
    .game img{
        border-radius: 20px;
        position: absolute;
        top: 0;
        left:0;
         height: 100vh;
         transform: rotate(90deg);
         z-index: -99;
     }
}

a{
    text-decoration: none;
    color: #fff;
}
a:visited{
    color: #fff;
}